@media (min-width: 768px) {
    .recipe-header {
        display: flex;
        gap: 0.5rem;
    }

    .recipe-content {
        display: grid;
        grid-template-columns: 33% auto;
    }

    .description,
    .ingredients {
        flex: 1;
    }
}


.nav {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.recipe-header {
    display: grid;
    grid-template-columns: auto 33% ;
    gap: 1rem;
}


.recipe-title {
    background-color: rgba(137, 204, 149, 0.8);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 1rem;
    color: #333232;
    font-size: 24px;
}

.recipe-title h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.tags {
    display: flex;
    gap: 0.5rem;
}

.tag {
    background-color: #ffd700;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    font-size: 0.8rem;
}

.image-section .image-placeholder {
    background: #ddd;
    /* height: 150px; */
    height: 100%;
    border-radius: 16px;
    text-align: center;
    /* line-height: 150px; */
    font-size: 1rem;
    color: #666;
}

.directions,
.linked-components {
    margin-top: 1rem;
}

.component-box {
    padding: 0.5rem;
    margin: 0.5rem 0;
    background: #e6e6e6;
    border-radius: 4px;
    text-align: center;
}


.description {
    margin: 0 1rem;
}

.description h2 {
    /* font-style: ; */
}