.create-recipe-menu {
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 3rem;
}

.header {
    padding-top: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
}

.sub-header {
    padding-top: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-field input {
    border-radius: 8px;
    padding: 0.5rem;
    border-color: gray;
    margin-bottom: 1rem;

}

.input-field textarea {
    border-radius: 8px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-color: gray;
}

.input-field label {
    margin-bottom: 0.2rem;
}

.added-component-cards {
    display: flex;
    gap: 1rem;
}

.added-component-card {
    /* height: 1rem; */
    width: 6rem;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 16px;
    background-color: white;
}

.add-component-card {
    /* height: 1rem; */
    width: 6rem;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 16px;
    background-color: white;
}


.create-recipe-menu {
    margin-top: 2rem
}

.create-recipe-card {
    margin-top: 1rem;
    width: 90%;
    padding: 1rem 1rem;

    background-color: lightgray;
    margin-bottom: 1rem;

    border-radius: 4px;
    text-align: center;
}
